<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-lime-100">
    <div class="my-6 mx-10">
        <h3 class="text-4xl my-4 font-medium">Welcome <%= userName %> to Online-Voting-Application</h3>
        <div>
            <% if (messages.success) { %>
                <p class="bg-purple-100 m-3 list-none rounded-md px-4 py-2"><%= messages.success %></p>
            <% } %>
        </div>
        <div class="flex gap-2 py-4 justify-between">
            <h5 class="text-2xl italic">THE LIST OF ELECTIONS HELD</h5>
            <div class="bg-black rounded w-fit px-2 py-1 hover:bg-black">
                <button class="bg-black-500 hover:bg-black-400 text-white font-bold py-2 px-4 border-b-4 border-black-700 hover:border-black-500 rounded">
                    <a href="/elections/create" class="text-white">Create New Election</a>
                  </button>
            </div>
        </div>
        <div class="flex-auto">
            <div class="mx-4">  
                <p class="text-red-600"><%= (elections.length==0)?"You haven't created any elections yet!":"" %></p>
                <ol class="list-decimal">
                    <% for (let i=0; i<elections.length; i++) { %>
                        <li>
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-white">
                                <a href="/elections/<%= elections[i].id %>" class="m-2 text-sm text-blue-800 "><%= elections[i].electionName %></a>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
    <footer>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
            <a href="/signout">SIGN-OUT</a>
          </button>
    </footer>
</body>
</html>