<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function deleteVoter({electionID, voterID}) {
            fetch(`/elections/${electionID}/voters/${voterID}`, {
                method: "delete",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err)=> console.error(err))
        }
    </script>
    <title><%= title %></title>
</head>
<body class="bg-lime-100">
    <div class="flex gap-1 mx-10 mt-6 bg-lime-100">
        
        <a href="/elections" class="text-purple-800 hover:text-purple-600">All Elections</a>
        <span>></span>
        <a href="/elections/<%= id %>/" class="text-purple-800 hover:text-purple-600">Election</a>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class="my-6 mx-10">
        <div class="flex gap-2 py-4 justify-between">
            <h5 class="text-2xl"><%= title %> - Voters</h5>
            <div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="/elections/<%= id %>/voters/create" class="text-white">Add New Voter</a>
                  </button>
            </div>
        </div>
        <div class="flex-auto">
            <div class="mx-4">  
                <p class="text-purple-600"><%= (voters.length==0)?"You haven't added any voters yet!":"" %></p>
                <div class="grid grid-cols-3 gap-35 py-4 px-2">
                    <div class="col-span-3  px-3">            
                        <p class="py-2 text-2xl text-green-400">VOTERS ELIGIBLE TO VOTE ARE </p>   
                                         
                    </div>
                </div>
                <ol class="list-decimal">
                    <% for (let i=0; i<voters.length; i++) { %>
                        <li>
                            <div class="flex justify-between items-center w-full my-2 px-2 py-1 rounded hover:bg-white-50">
                                <p class="my-2 text-lg text-purple-600 "><%= voters[i].voterid %></p>
                                <div class="flex gap-2 text-purple-800">
                                    <div class="rounded w-fit px-2 py-1 flex gap-2 cursor-pointer hover:text-red-600">
                                        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                            <a href="" class="text-sm">Reset password</a>
                                          </button>                                                                                                                                                     
                                        
                                    </div>
                                    <div class="rounded w-fit px-2 py-1 flex gap-2 cursor-pointer hover:text-red-600">
                                        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                            <a onclick="deleteVoter({electionID: <%= id %>, voterID: <%= voters[i].id %>})" class="text-sm">Delete voter</a>
                                          </button>  
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>